@font-face {
    font-family: 'AlimamaDaoLiTi';
    font-display: swap;
    src: url('https://s-cd-7156-yangzhi-1.oss.dogecdn.com/AlimamaDaoLiTi.woff2') format("woff2");  /* /fonts/AlimamaDaoLiTi.woff2 */
  }